<article id="content-wrapper" class="content-wrapper events-wrapper" view-switch>
	<section id="content-main" class="content-main events-content clearfix" ng-cloak>

		<div ng-if="events.user">
			<h1 class="content-heading">Events</h1>

			<section class="events-upcoming" ng-if="events.eventsReady">
				<p class="lead">View upcoming events. Click on an event to view details and RSVP.</p>

				<div ng-if="(events.allEvents | filter:{expired: false} | filter:{viewPublic: true}).length" class="form-group form-inline">
					<div class="input-group">
						<span class="input-group-addon"><i class="fa fa-search"></i></span>
						<input id="query" type="text" class="form-control" ng-model="events.query" placeholder="Search events" />
						<span class="input-group-btn">
							<button class="btn btn-default" ng-disabled="!events.query" ng-click="events.query=''">&times;</button>
						</span>
					</div>
				</div>

				<table class="events-table table table-responsive" ng-if="(events.allEvents | filter:{expired: false} | filter:{viewPublic: true} | filter:events.query).length">
					<thead>
						<tr>
							<th>Event</th>
							<th>Date(s)</th>
							<th>RSVP</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="evt in events.allEvents | filter:events.query | filter:{expired: false} | filter:{viewPublic: true} | orderBy:events.sortStartDate" ng-click="events.linkToEvent(evt.$id)" class="events-table-row">
							<td>{{::evt.title}}</td>
							<td>{{::evt.startDate | prettyDate}}{{(evt.endDate | prettyDate) !== (evt.startDate | prettyDate) ? ' - ' +
								(evt.endDate | prettyDate) :
								''}}</td>
							<td ng-class="{'text-danger': !evt.rsvp, 'text-success': evt.rsvp}">{{::evt.rsvp ? 'Open' : 'Closed'}}</td>
						</tr>
					</tbody>
				</table>

				<div ng-if="!(events.allEvents | filter:{expired: false} | filter:{viewPublic: true} | filter:events.query).length" class="alert alert-warning">
					<i class="fa fa-warning"></i> No upcoming events{{events.query ? ' match your search query' : ''}}.
				</div>
			</section>
		</div>

	</section>
</article>