/*--------------------
     	USER
--------------------*/

.user {
	&-picture {
		border-radius: 100px;
		display: inline-block;
		height: 30px;
		vertical-align: middle;
		width: 30px;
	}
	&-displayName {
		display: inline-block;
		margin-left: 4px;
		vertical-align: middle;
	}
	&-provider {
		border-radius: 100px;
		color: $color-white;
		font-size: 14px;
		height: 22px;
		margin: 0 2px;
		padding: 5px;
		text-align: center;
		vertical-align: middle;
		width: 22px;

		&.fa-google {
			background: $color-social-google;
		}
		&.fa-facebook {
			background: $color-social-facebook;
		}
		&.fa-twitter {
			background: $color-social-twitter;
		}
		&.fa-github {
			background: $color-social-github;
			color: $color-black;
			padding: 4px;
		}
	}
}