/*--------------------
     ADMIN PAGE
--------------------*/

/*------------------------------------------------------------------------- Event List --*/

.eventTable {
	th,
	td {
		vertical-align: middle !important;
	}
	&-link-copy {
		border: 1px solid transparent;
		cursor: copy;
		display: inline-block;
		height: 34px;
		max-width: 100px;
		overflow: hidden;
		padding: 10px 0;
		text-overflow: ellipsis;

		@include mq($mq-large) {
			max-width: 100%;
		}
	}
	&-link-input {
		width: 90%;
	}
	&-action {
		font-size: 18px;
	}
}