/*--------------------
     EVENTS PAGE
--------------------*/

.events-search-clearQuery {
	color: $gray-light;
	margin-left: -22px;

	&:hover {
		color: $color-black-light;
		text-decoration: none;
	}
}
.events-table-row {
	&:hover {
		background: $table-bg-active;
	}
}