<h2>
	<i class="fa fa-user"></i> User Info
</h2>

<p class="lead">
	You are currently logged in with the following account:
</p>

<img class="user-picture" ng-src="{{account.userPicture}}">
<span class="user-displayName">{{account.userName}}</span> <i ng-if="account.user.uid === account.data.master"
															  class="fa fa-wrench"></i> <i
		class="user-provider fa fa-{{account.user.provider}}" alt="{{account.user.provider}}"
		title="{{account.user.provider}}"></i>

<div ng-if="account.user.uid === account.data.master" class="alert alert-info">
	<i class="fa fa-wrench"></i> <strong>Administrator:</strong> <a ng-href="/admin">Manage Events</a>
</div>