<article id="content-wrapper" class="content-wrapper editEvent-wrapper" view-switch>
	<section id="content-main" class="content-main editEvent-main clearfix" ng-controller="EditEventCtrl as edit" ng-cloak>

		<h1 class="content-heading">Edit Event</h1>

		<div ng-if="edit.user && edit.data && edit.editEvent && (edit.user.uid === edit.data.master)">

			<ul class="nav nav-tabs editTabs">
				<li ng-repeat="tab in edit.tabs" role="presentation" ng-class="{active: edit.currentTab === $index}">
					<a ng-click="edit.changeTab($index)">{{tab}}</a>
				</li>
			</ul>

			<section ng-if="edit.showEditForm && edit.currentTab === 0" class="eventForm content-section">
				<h2>
					<i class="fa fa-calendar"></i> Update Details
				</h2>

				<p class="lead">
					Edit details for <a ng-href="/event/{{edit.editEvent.$id}}">{{edit.editEvent.title}}</a>.
				</p>

				<event-form prefill-model-id="{{::edit.editEvent.$id}}"></event-form>
			</section>

			<section ng-if="edit.currentTab === 1" class="eventDelete content-section">
				<h2>
					<i class="fa fa-trash"></i> Delete Event
				</h2>

				<p class="lead">
					Permanently delete this event and all associated guest RSVPs. This cannot be
					undone!
				</p>

				<div class="eventDelete-action">
					<div class="checkbox">
						<label ng-if="!edit.btnDelete || edit.btnDelete === 'error'">
							<input type="checkbox" ng-model="edit.confirmDelete">
							Yes, I want to delete <em>{{edit.editEvent.title}}</em>.
						</label>
					</div>

					<button class="btn"
							ng-class="{'btn-danger': !edit.btnDelete || edit.btnDelete === 'error', 'btn-success': edit.btnDelete}"
							ng-click="edit.deleteEvent(edit.editEvent.$id)"
							ng-disabled="!edit.confirmDelete">
						<i class="fa" ng-class="{'fa-trash': !edit.btnDelete, 'fa-check': edit.btnDelete, 'fa-ban': edit.btnDelete === 'error'}"></i> {{edit.btnDeleteText}}
					</button>
				</div>
			</section>
		</div>

		<div ng-if="edit.user && edit.data && (edit.user.uid !== edit.data.master) && edit.showEditForm" class="alert alert-danger">
			<i class="fa fa-warning"></i> You are not authorized to view this page.
		</div>

		<div ng-if="!edit.editEvent && edit.showEditForm" class="alert alert-danger">
			<i class="fa fa-ban"></i> This event does not exist!
		</div>

	</section>
</article>