<section ng-if="admin.users" class="userList">
	<h2>
		<i class="fa fa-users"></i> Users
	</h2>

	<p class="lead">View all users and their currently linked authentication accounts.</p>

	<detect-adblock></detect-adblock>

	<ul class="userList-list">
		<li ng-repeat="user in admin.users | orderBy:'displayName'" class="userList-item user clearfix">
			<img ng-if="user.picture" class="user-picture" ng-src="{{::user.picture}}"/>
			<span class="user-displayName">{{user.displayName}}</span>
			<i ng-if="user.isAdmin" class="fa fa-wrench" title="Admin"></i>
			<i class="user-logins fa fa-{{login}}" ng-repeat="login in user.linkedAccounts"></i>
		</li>
	</ul>
</section>