/*--------------------
    COLOR VARIABLES
--------------------*/

$color-white: #fff;
$color-black: #000;
$color-black-light: #555;
$color-copy: #333;
$color-invalid-rgba: rgba(169,68,66,.6);
$color-gray-rgba: rgba(255,255,255,.5);

$color-social-facebook: #43609C;
$color-social-facebook-dark: #213c73;
$color-social-twitter: #55ACEE;
$color-social-twitter-dark: #247aba;
$color-social-google: #DA4631;
$color-social-google-dark: #a3220f;
$color-social-github: #F5F5F5;
$color-social-github-dark: #bcbcbc;