<article id="content-wrapper" class="content-wrapper eventDetail-wrapper" view-switch>
	<section id="content-main" class="content-main eventDetail-content clearfix"
			 ng-cloak>

		<div ng-if="event.user && event.detail && event.eventReady && event.rsvpReady">
			<h1 class="content-heading">
				{{::event.detail.title}}
				<small ng-if="event.user.uid === event.data.master">[<a ng-href="event/{{event.detail.$id}}/edit">edit</a>]</small>
			</h1>

			<p class="eventDetail-datetime">
				<i class="fa fa-calendar"></i> <strong>Date / Time</strong><br>
				<span ng-class="{'text-danger': event.detail.expired}">{{::event.detail.prettyDate}}</span>
			</p>

			<div class="eventDetail-location">
				<i class="fa fa-map-marker"></i> <strong>Location</strong><br>
				<address>{{::event.detail.location}} [<a
						ng-href="http://maps.google.com/maps?saddr=&daddr={{::event.detail.location}}">get
					directions</a>]</address>
			</div>

			<div class="lead" ng-bind-html="event.detail.description"></div>

			<div class="eventDetail-rsvp">
				<div ng-if="event.detail.rsvp && !event.detail.expired">
					<i class="fa fa-paper-plane"></i> <strong>RSVP</strong>

					<div ng-if="event.detail.rsvpInstructions"
						 ng-bind-html="event.detail.rsvpInstructions"
						 class="eventDetail-rsvp-instructions"></div>

					<p ng-if="event.noRsvp"><em>You may RSVP to this event.</em></p>

					<p ng-if="!event.noRsvp">
						<em>You have RSVPed stating {{event.guestText}} <strong>{{event.attendingText}}</strong> this event.</em>
					</p>

					<div class="eventDetail-rsvp-buttons">
						<button ng-if="event.showEventDownload"
								class="btn btn-info btn-eventDownload"
								ng-click="event.downloadIcs()"><i class="fa fa-download"></i> Download to Calendar
						</button>

						<button class="btn btn-primary"
								ng-click="event.openRsvpModal()"><i class="fa fa-paper-plane"></i> {{event.rsvpBtnText}}</button>
					</div>
				</div>

				<div ng-if="!event.detail.rsvp" class="alert alert-warning">
					<i class="fa fa-warning"></i> RSVP is closed for this event.
				</div>

				<div ng-if="event.detail.expired && event.detail.rsvp" class="alert alert-danger">
					<i class="fa fa-ban"></i> It is too late to RSVP for this event.
				</div>

				<rsvp-form ng-if="!event.detail.expired && event.detail.rsvp"
						   event="event.detail"
						   form-model-id="{{::event.rsvpObj.$id}}"
						   user-name="{{::event.user[event.user.provider].displayName}}"
						   user-id="{{::event.user.uid}}"
						   show-modal="event.showModal"></rsvp-form>
			</div>

		</div>

		<div ng-if="!event.detail && event.rsvpReady" class="alert alert-danger">
			<i class="fa fa-ban"></i> This event does not exist!
		</div>

	</section>
</article>