<div class="modal" ng-class="{'showModal': rf.showModal}" ng-if="rf.event.rsvp">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" ng-click="rf.closeModal()"
						aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">RSVP for {{::rf.event.title}}</h4>
				<h5><i class="fa fa-calendar"></i> {{::rf.event.prettyDate}}</h5>
			</div>

			<form method="post" ng-submit="rf.submitRsvp()" name="rsvpForm" novalidate>
				<div class="modal-body">
					<div ng-if="rf.event.rsvpInstructions"
						 class="rsvpInstructions" ng-bind-html="rf.event.rsvpInstructions"></div>

					<p class="text-danger">
						<strong>*</strong> <em class="small">required</em>
					</p>

					<div class="form-group">
						<label for="rsvpName">Name<span class="text-danger">*</span></label>
						<input id="rsvpName"
							   type="text"
							   name="name"
							   ng-model="rf.formModel.name"
							   class="form-control"
							   placeholder="Name"
							   required>

						<div ng-if="rsvpForm.name.$dirty && rsvpForm.name.$invalid" ng-messages="rsvpForm.name.$error" class="text-danger">
							<span ng-message="required">Name is <strong>required</strong></span>
						</div>
					</div>

					<div class="form-group">
						<label>Attending<span class="text-danger">*</span></label>
						<div class="radio">
							<label class="radio-inline">
								<input type="radio"
									   name="attending"
									   ng-value="true"
									   ng-model="rf.formModel.attending"
									   required>Yes
							</label>

							<label class="radio-inline">
								<input type="radio"
									   name="attending"
									   ng-value="false"
									   ng-model="rf.formModel.attending">No
							</label>
						</div>

						<div ng-if="rsvpForm.attending.$invalid" ng-messages="rsvpForm.attending.$error" class="text-danger">
							<span ng-message="required">Attending is <strong>required</strong></span>
						</div>
					</div>

					<div ng-if="rf.formModel.attending" class="form-group form-inline">
						<label for="rsvpGuests">Guests<span class="text-danger">*</span></label>
						<input id="rsvpGuests"
							   type="number"
							   ng-pattern="rf.numberRegex"
							   min="1"
							   max="10"
							   step="1"
							   name="guests"
							   ng-model="rf.formModel.guests"
							   ng-required="rf.formModel.attending"
							   class="form-control">

						<div ng-if="rsvpForm.guests.$dirty && rsvpForm.guests.$invalid" ng-messages="rsvpForm.guests.$error" class="text-danger">
							<span ng-message="pattern">Enter a number from 1-10</span>
							<span ng-message="required">Number of guests is <strong>required</strong> if attending event</span>
						</div>
					</div>

					<div class="form-group">
						<label for="rsvpComments">Comments</label>
						<textarea id="rsvpComments"
								  name="comments"
								  ng-model="rf.formModel.comments"
								  class="form-control"
								  rows="3"></textarea>
					</div>

				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default"  ng-click="rf.closeModal()">Close</button>
					<button type="submit"
							class="btn-save btn"
							ng-class="{'btn-primary': !rf.btnSaved, 'btn-success': rf.btnSaved === true, 'btn-danger': rf.btnSaved === 'error'}"
							ng-disabled="rsvpForm.$invalid">
						<i class="fa" ng-class="{'fa-download': !rf.btnSaved, 'fa-check': rf.btnSaved, 'fa-ban': rf.btnSaved === 'error'}"></i> {{rf.btnSubmitText}}
					</button>
				</div>
			</form>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->