/*--------------------
	   BASICS
--------------------*/

/*-- ng-cloak: prevent FOUC before Angular JavaScript loads --*/

[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
	display: none !important;
}

/*-- ng-click: show cursor / table row highlighting --*/
a,
[ng-click],
[ng\:click],
[data-ng-click],
.ng-click {
	cursor: pointer;

	&:focus {
		outline: 0 none;
	}
}
tr[ng-click] {
	&:hover {
		background: $table-bg-active;
	}
}

/*-- Inline link touch targets --*/

.touch p a {
	margin: 0 -.5em;
	padding: 0 .5em;
}

/*-- Forms --*/

input.ng-dirty.ng-invalid {
	border-color: $color-invalid-rgba;
	box-shadow: 0 0 6px $color-invalid-rgba;
}
div[ng-messages] {
	margin-top: 4px;
}

/* For iOS autozoom */
.form-control,
.radio label,
.checkbox label {
	font-size: 16px;

	@include mq($mq-large) {
		font-size: 14px;
	}
}

/*--------------------
	    PRINT
--------------------*/

@media print {

	* { background: $color-white; }
	body {
		color: $color-black;
		font: normal 16px/1.4 Georgia, 'Times New Roman', serif;
	}

	/*-- Hidden Elements --*/

	.header-global,
	.footer-global { display: none; }

	/*-- Show link URLs --*/

	a:link,
	a:visited {
		color: blue;
		text-decoration: underline;
	}
	a:link:after,
	a:visited:after {
		content:" [" attr(href) "] ";
		font-size: 75%;
	}

}